@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-[#cad2c5] text-black;
}

.markdown {
  font-family: "Google Sans Code", monospace; 
}

/* TODO: Eventuellt implementera darkmode */

/* .dark body {
  @apply bg-black text-white;
} */